* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
}

header {
  background: #222;
  color: white;
  padding: 60px 20px;
  text-align: center;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background: #00adb5;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

/* Contact Buttons */
.contact-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.contact-btn {
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease;
}

/* Button Colors */
.contact-btn.email {
  background: #ea4335;
}

.contact-btn.github {
  background: #333;
}

.contact-btn.linkedin {
  background: #0077b5;
}

/* Hover Effects */
.contact-btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0,0,0,0.3);
  opacity: 0.9;
}


section {
  padding: 50px 20px;
  text-align: center;
}

.skill-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: #f4f4f4;
  padding: 20px;
  width: 280px;
  border-radius: 8px;
}

.tabs {
  margin-bottom: 20px;
}

.tab-btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background: #ddd;
  margin: 5px;
}

.tab-btn.active {
  background: #00adb5;
  color: white;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.project-card {
  background: #f4f4f4;
  margin: 15px auto;
  padding: 20px;
  max-width: 500px;
  border-radius: 8px;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 15px;
}

/* Responsive */
@media (max-width: 768px) {
  .skill-container {
    flex-direction: column;
    align-items: center;
  }
}

